services:

  api:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: ml-api
    ports:
      - "8002:8000"
      - "8888:8888"
    environment:
      - MLFLOW_TRACKING_URI=http://mlflow:5000
    depends_on:
      - mlflow
    volumes:
      - ../notebooks:/app/notebooks
      - ../data:/app/data
    networks:
      - mlops-network
    volumes: 
      - ../api:/app/api
      - ../notebooks:/app/notebooks
      - ../data:/app/data

  mlflow:
    image: ghcr.io/mlflow/mlflow:v2.9.2
    container_name: mlflow
    ports:
      - "5000:5000"
    environment:
      - MLFLOW_TRACKING_URI=http://0.0.0.0:5000
      - MLFLOW_ARTIFACT_ROOT=/mlflow/artifacts
    volumes:
      - ../mlflow:/mlflow
    command: mlflow server --host 0.0.0.0 --port 5000 --default-artifact-root /mlflow/artifacts
    networks:
      - mlops-network

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ../monitoring/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    networks:
      - mlops-network

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3001:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana_data:/var/lib/grafana
      - ./monitoring/grafana/provisioning/:/etc/grafana/provisioning/
    networks:
      - mlops-network

volumes:
  mlflow_data:
  grafana_data:

networks:
  mlops-network:
    driver: bridge
